<!DOCTYPE html>
<html>
<head>
  <title>OauthApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p id="notice"><%= notice %></p>
<br/>

<div id="user_nav" style="float:right">
  <% if @authentication %>
    Signed in as <%= 'aaa' %>.<br />
    Not you? <%= link_to "Sign out", authentication_path(@authentication), :method => :delete %>
  <% else %>
    <%= link_to "Sign In", new_authentication_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
